/** SUB NAV **/
.subHeader.top-head {
	margin-bottom: 25px;
}

/** HIDE DEVICE LINKS IN ARTICLES **/
.hide_desktop {display:none;}

/** DISQUS **/
.movie-block li {
	list-style: none;
	padding: 0;
}

/** ARTICLE FILM CINEMA LISTING VENUES **/
.movie-block ul {
	padding:0;
}

/** COMPETITION LABELS **/
.secondaryForm .formRadioGroup label {
	width: auto;
}

/** DISQUS **/
#comments-block {
	margin: 0 auto;
	width: 75%;
	float: none;
}

/** CONTACT US 
This shouldn't be needed as the class textarea already applies this.
section#contact-form textarea {
	width: 100%;
}

**/

/** PAGINATION **/
.pagination {
	width: 100%;
}

/** SEARCH RESULTS **/
.searchContainer .primaryButton {
	float: none;
}

/** Password reset 
This should no longer be needed with the new password reset markup
#password-reset input[type=submit] {
	clear: none;
}

#password-reset .formAction {
	margin-bottom: 25px;
}

**/

/** PREFERENCES **/

#user-preferences input[type="checkbox"] {
	visibility: hidden;
}

.optionCategory .optionList {
	width:100%;
	clear: both;
}

h2.category-subChannel {
	width:100%;
	border-bottom: 1px solid red;
	
}

.user-account header {
	margin-bottom:15px;
}
