.hide_desktop {display:none;}

.movie-block li {
	list-style: none;
	padding: 0;
}
.movie-block ul {
	padding:0;
}

.secondaryForm .formRadioGroup label {
	width: auto;
}

#comments-block {
	margin: 0 auto;
	width: 75%;
	float: none;
}